.main
  padding: 0 15px

.channel
  margin-bottom: 30px
  padding: 12px 0
  background: #eee
  .channel-reset
    text-align: right
  font-size: 180%
  .channel-id
    margin: 0 4px

.controls
  text-align: center
  padding: 18px 0
