doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title remote-player
    //- != css('styles')

  body(data-view="#{view}")
    .channel
        | Channel:
        code.channel-id
        button#reset-channel Reset Channel
    .controls
        button(id="play") Play
        button(id="pause") Pause

    script(src="//code.jquery.com/jquery-1.10.2.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js")
    script(src="/socket.io/socket.io.js")
    != js('controller')
