doctype html
html(lang="en")
  head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title remote-player
  link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
  != css('controller')

  body
  .main
    .row.channel
      .col-xs-8.chanel-detail
        Strong Channel &nbsp;
        code.channel-id
      .col-xs-4.channel-reset
        button.btn.btn-default.btn-sm#reset-channel Reset Channel
    .row.controls
      .col-xs-8.col-xs-offset-2
        button.btn.btn-primary.btn-lg.btn-block#play Play
    .row.controls
      .col-xs-8.col-xs-offset-2
        button.btn.btn-primary.btn-lg.btn-block#pause Pause

    script(src="//code.jquery.com/jquery-1.10.2.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js")
    script(src="/socket.io/socket.io.js")
    != js('controller')
